<!doctype html>
<html ng-app="sample">
<head>
<title>Angular - Basic Directives</title>
<script src="../angular.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" href="../style.css"></link>
</head>
<body>
<div ng-controller = "mycontroller as myctrl" class="wrapper">

<table>
<thead>
<tr>
<th>Technology</th>
<th>Likes</th>
<th>Dislikes</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="tech in myctrl.technology">
<td>{{tech.Technology}}</td>
<td>{{tech.Likes}}</td>
<td>{{tech.Dislikes}}</td>
<td>
<input type="button" value="Like" ng-click="myctrl.increment(tech)"/>
</td>
<td>
<input type="button" value="Dislike" ng-click="myctrl.decrement(tech)"/>
</td>
</tr>
</tbody>
</table>

</div>
</body>
</html>